h1 {
    color: #cfee09;
    background-color: gray;
}
#customers th {
    background-color: plum;
}
#customers tr:nth-child(odd) {
    background-color: #0a0b0b14;
}
#customers td,
#customers th {
    border: 1px solid rgb(176, 170, 170);
    padding: 8px
}